.positive {
	border: 5px solid red;
}

.negative {
	width: 90px;
	height: 90px;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}

.hero_pic {
	height: 75px; 
	width: 75px; 
}