.hero_pic {
	height: 75px; 
	width: 75px; 
	cursor: pointer;
	padding: 1px;
}

.positive {
	border: 2px solid red;
}

.hero_pic:hover {
	height: 90px;
	width: 90px;
}

.negative {
	cursor: not-allowed;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}

.negative:hover {
	width: 65px;
	height: 65px;
} 