.hero_pic {
	height: 75px; 
	width: 75px; 
	cursor: pointer;
}

.positive {
	border: 2px solid red;
}

.negative {
	cursor: not-allowed;
	width: 65px;
	height: 65px;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}